//Variables

//Paleta de Colores
$color-celeste : #83B4DB; 
$color-turquesa : #64C7EB;
$color-negro : #000000;
$color-amarillopastel : #FCEADA;
$color-gris : #D9D9D9;
$color-grisclaro : #EAEAEA;
$color-verde : #6CBF58;
$color-naranja : #F0BE99;
$color-rojo : #EE9898;
$color-blanco : #FFFFFF;

html{
    background-color: $color-grisclaro;
}

.sticky-header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.barra-inicio{
    background-color: $color-gris;
}

.navegador{
    background-color: $color-negro;
    margin-bottom: 30px;
    border-bottom: 1px solid $color-negro;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.7);
    padding: 0;
    margin-bottom: 10px;
}

.clase-navegador-ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


.li-button{
    float: right;
    padding: 0 0 0 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login{
    margin-top: 3px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    background-color: $color-turquesa;
    height: 30px;
    border-radius: 10px;
    border: 1px solid transparent;
    color: $color-blanco;
}

.login img{
    width: 20px;
    height: 20px;
    filter: invert(99%) sepia(0%) saturate(1062%) hue-rotate(172deg) brightness(114%) contrast(100%);
}

.links-navegacion{
    color: $color-blanco;
    text-decoration: none;
    font-size: 20px;
    
    &:hover{
        filter: invert(65%) sepia(38%) saturate(3745%) hue-rotate(166deg) brightness(115%) contrast(89%);
    }
}

.icon-home, .expand-more{
    filter: invert(99%) sepia(0%) saturate(1062%) hue-rotate(172deg) brightness(114%) contrast(100%);
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
}

.tabla-centrada{
    text-align: center;
}

.tabla-fondo{
    background-color: $color-grisclaro;
}

.fondo-tabla{
    background-color: $color-blanco;
}

.titulo{
    background-color: $color-celeste;
}

.resultado-fondo{
    background-color: $color-turquesa !important; 
    color: $color-blanco !important; 
}

.ir-competicion, .ir-icon{
    filter: invert(70%) sepia(51%) saturate(339%) hue-rotate(172deg) brightness(90%) contrast(89%);
}

.cajas-color{
    .color-a{
        background-color: $color-verde;
    }
    .color-b{
        background-color: $color-naranja;
    }
    .color-c{
        background-color: $color-rojo;
    }
    .color-d{
        background-color: $color-celeste;
    }
}

.detalle-liga{
    background-color: $color-grisclaro;
    width: 97%;
}

.estadistica-liga{
    background-color: $color-gris;
}

.fixture{
    background-color: $color-grisclaro;
}

.filtro-temporada, .resultado-partido, .fecha-partido, .tabla-evento{
    background-color: $color-blanco;
}

.evento-fondo{
    background-color: $color-gris;
}

.tabla-liga-fondo{
    background-color: $color-blanco;
}

//Carrusel

.container-carrusel{
    width: 30%;
    height: 200px;
    overflow: hidden;
    margin: auto;
}

.item-carrusel{
    height: 100%;
    position: relative;
}

.tarjeta-carrusel{
    height: 100%;
}

.flechas-carrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#imagen-1{
    background-color: aquamarine;
}

#imagen-2{
    background-color: rgb(119, 97, 68);
}

#imagen-3{
    background-color: goldenrod;
}

.flechas{
    text-decoration: none;
}

i{
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}

i:hover{
    color: white;
}

.imagen-prueba{
    width: 100%;
    height: 100%;
}

//Resolución para dispositivos mobiles (a partir de los 764px)

@media screen and (max-width:768px){
    .barra-inicio{
        background-color: $color-negro;
        border-bottom: 1px solid $color-negro;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.7);
    }
    .buscador-icon, .menu-hamburguesa-icon, .login-solo-icon{
        filter: invert(65%) sepia(38%) saturate(3745%) hue-rotate(166deg) brightness(115%) contrast(89%);   
    }
}

//Resolución para Desktop (mínima 1480px)

@media screen and (min-width:768px){
    body{
        width: 70%;
    }
}